# --- Local Data ---
notes.md
*.audit
*.tmp
*.log

# --- .NET / Visual Studio ---
[Bb]in/
[Oo]bj/
publish/
out/
.vs/
.vscode/
*.user
*.userosscache
*.sln.docstates

# --- Operating System ---
.DS_Store
Thumbs.db